@charset "UTF-8";

/* 공통 */
html, body {
	height: 100%; /* 부모 태그에 100% 적용해주면 자식 태그에도 적용 */
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #fafafa;
} 

#wrap .headerArea {
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom: 1px solid lightgray;
}

#wrap .headerArea .mainLogo {
	width: 30%;
	height: 70px;
	float: left;
	text-align: right;
}

.mainLogo img {
	width: 170px;
	height: auto; /* 비율 유지 */
	align-content: center;
	margin: 10px 5px 0 0;
}

#wrap .headerArea .mainMenu {
	width: 70%;
	height: 70px;
	float: right;
	text-align: center;
}

.mainMenu ul {
	list-style-type: none;
	float: right;
	margin-right: 210px;
}

.mainMenu ul li {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	position: relative;
}

li a {
	color: black;
	text-decoration: none;
}

.mainMenu ul ul {
	display: none;
	position: absolute;
	z-index: 1;
}

.mainMenu ul li:hover>ul {
	display: block;
}

.subUl {
	margin-left: -40px;
}

.subUl li {
	text-align: center;
	float: center;
	position: relative;
	background-color: #fafafa;
}

#settingIcon {
	width: 20px;
	height: auto; /* 비율 유지 */
	line-height: 50px;
	align-content: center;
	margin: 10px 0 0 0;
}

/* 메인 영역 */
#wrap .mainArea {
	width: 80%;
	height: auto; /* auto로 바꿔 */
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: -21%;
}

/* 메인 영역 - 검색 */
.mainArea .searchArea {
	width: 100%;
	height: 50px;
	text-align: center;
	align-content: center;
	margin: 20px 0 10px 0;
}

.selectBox {
	width: 10%;
	height: 30px;
	margin-top: 3px;
	border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
}

.inputSearch {
	width: 60%;
	height: 26px;
	border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 5px;
}

.buttonMedium {
	width: 10%;
	height: 30px;
	margin-top: 3px;
	border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
}

.buttonMedium:hover {
	background-color: #dbdbdb;
}

/* 메인 영역 - 게시글 리스트 */
.mainArea .listArea {
	width: 81%;
	height: 80%;
	margin: auto;
}

.maincmt {
	text-align: center;
	height: 50px;
	font-size: 22px;
	font-weight: bolder;
}

.maincmt p {
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
	margin: 5px 0 0 0;
	padding: 0;
}

.boardtb {
    width: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
	border: 1px solid lightgray;
	border-collapse: collapse;
	background-color: white;
	border-radius: 5px;
}

.boardtb tr>th {
	font-weight: 900;
}

.boardtb th, td {
	border-bottom: 1px solid lightgray;
}

.boardtb tr .large {
	width: 40%;
}

.boardtb tr .medium {
	width: 20%;
}

.boardtb tr .small {
	width: 10%;
}

.link {
	text-decoration: none;
	color: black;
}

a.link:hover {
	color: #8dacdf;
	font-weight: 900;
}

a.link:active {
	color: #8dacdf;
	font-weight: 900;
}

.buttonArea {
	width: 100%;
	margin-top: 5px;
	text-align: right;
}

/* 메인 영역 - 페이징 */
.mainArea .pagingArea {
	width: 80%;
	height: 20px;
	position: absolute;
    margin-left: 10%;
    text-align: center;
    align-content: center;
    font-size: small;
    margin-botton: 10px;
}

.pagingArea ul {
	list-style-type: none;
	text-align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.pagingArea li {
	list-style: none;
	display: table-cell;
	border-color: black;
	float: left;
	padding: 0 10px 0 10px;
}


/* 페이지 상세보기 - 이미지 출력 */
.uploadResult {
	width: 65%;
	height: auto;
	margin: 0 auto;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	align-items: center;
	width: 100%;
	padding: 0;
}

.uploadResult ul li {
	list-style: none;
	padding: 2px;
	align-content: center;
	text-align: center;
}

.uploadResult ul li img {
	width: 450px;
	height: auto;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index: 100;
	background: rgba(255,255,255,0.5);
}

.bigPicture {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bigPicture img {
	width: 600px;
}


.likeArea {
	width: 65%;
	height: 30px;
	margin: 5px 0 0 205px;
}

.contentArea {
	width: 65%;
	height: auto;
	margin: 0 auto;
}

.title {
	width: 100%;
	height: auto;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bolder;
}

.content {
	width: 85%;
	height: auto;
	margin-top: 10px;
	font-size: 16px;
}

.detail {
	font-size: 13px;
	color: gray;
}

.price {
	font-size: 20px;
	font-weight: bolder;
}

.name {
	font-size: 14px;
}

/* 댓글 영역 */
.replyContent {
	width: 63%;
	margin: 0 auto;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding-left: 20px;
}

.replyRegister {
	width: 100%;
	height: 170px;
	margin: 0 auto;
}

.textArea {
	width: 87%;
	height: 50px;
	resize: none;
	margin-top: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.replyArea {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#registerBtn, #btneditReplySave {
	width: 100px;
	height: 25px;
	border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
    font-size: small;
}

#registerBtn:hover {
	background-color: #dbdbdb;
}

.replyArea .replyList {
	width: 89%;
	font-size: 14px;
}

.replylink {
	text-decoration: none;
	font-size: 11px;
	color: gray;
}

.time {
	text-decoration: none;
	font-size: 11px;
	color: gray;
}

.detailBtnArea {
	width: 65%;
	text-align: right;
	margin: 0 auto;
}

/* 게시글 쓰기 */
.writeCmt {
	width: 70%;
	height: 50px;
	margin: 0 auto;
	text-align: left;
	font-size: 22px;
	font-weight: bolder;
	border-bottom: 2px solid gray;
}

.writeArea {
	width: 70%;
	height: auto;
	margin: 0 auto;
}

.writeArea p {
	font-size: 12px;
	font-weight: lighter;
	color: gray;
	text-align: right;
}

.writetb {
    width: 100%;
    font-size: 12px;
}

.writetb tr td {
	margin: 0;
	padding: 0;
	border-style: none;
}

.cmt {
	width: 60px;
	font-size: 16px;
	margin: 5px 0 5px 0px;
}

.writeInput {
	width: 98%;
	height: 30px;
	margin: 5px 0 5px 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.writeTextArea {
	width: 98%;
	height: auto;
	margin: 5px 0 5px 10px;
	resize: none;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.writeSelectBox {
	width: 99%;
	height: 34px;
	margin: 5px 0 5px 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.writeBtnArea {
	width: 70%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

.writeBtnArea button {
	width: 100px;
	height: 25px;
	border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
    font-size: small;
   	margin-top: 20px;
   	margin-bottom: 20px;
}

.writeBtnArea button:hover {
	background-color: #dbdbdb;
}


/* 게시글 작성 - 첨부파일 */
.uploadArea {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.uploadForm {
	margin: 5px 0 5px 0;
}

.uploadForm .uploadBtn {
	margin-left: 26px;
}

.uploadArea .uploadResult {
	width: 90.5%;
}

.uploadArea .uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin-left: 35px;
	height: auto;
	background-color: white;
	border-radius: 5px;
	border-style: none;
	border-color: lightgray;
}

.uploadArea .uploadResult ul li {
	list-style: none;
	padding: 20px;
	align-content: center;
	text-align: center;
}

.uploadArea .uploadResult ul li img {
	width: 100px;
}

.uploadArea .uploadResult ul li span {
	color: black;
	font-size: x-small;
}

.closeBtn {
	border-style: none;
	background-color: white;
	color: gray;
	font-size: small;
	font-weight: bolder;
}

/* 공지사항 - 상세 */
.detailtb {
    width: 100%;
    font-size: 12px;
}

.detailtb tr td {
	margin: 0;
	padding: 0;
	border-style: none;
}

.detailtb .title {
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: bolder;
	margin: 10px 0 10px 0;
}

.detailtb .content {
	width: 100%;
	height: auto;
	font-size: 14px;
	margin: 10px 0 10px 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.detailBtnArea p {
	font-size: 12px;
	font-weight: lighter;
	color: gray;
	text-align: right;
}


/* 공통 */
.errors {
	color: #8dacdf;
	font-size: small;
	margin-left: 75px;
}

#wrap .footerArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: x-small;
}